[Unit]
Description=Compton composite manager
Documentation=man:compton(1)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/compton

[Install]
WantedBy=default.target
