[Unit]
Description=Network manager applet
Documentation=man:nm-applet(1)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=default.target

