[Unit]
Description=Network manager applet
Documentation=man:nm-applet(1)
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet
ExecReload=/usr/bin/kill -SIGUSR1 $MAINPID

[Install]
WantedBy=graphical-session.target

