[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/redshift
Restart=always

[Install]
WantedBy=default.target
