[Unit]
Description=RXVT-Unicode Daemon
Requires=urxvtd.socket

[Service]
ExecStart=/usr/bin/urxvtd -o -q
# Environment=RXVT_SOCKET=%t/urxvtd-%H
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
