[Unit]
Description=Xfce4 Power Manager
Documentation=man:xfce4-power-manager(1) man:xfce4-power-manager-settings(1)
PartOf=graphical-session.target

[Service]
Type=dbus
BusName=org.xfce.PowerManager
ExecStart=/usr/bin/xfce4-power-manager --sm-client-disable --no-daemon
ExecReload=/usr/bin/xfce4-power-manager --restart
ExecStop=/usr/bin/xfce4-power-manager --quit

[Install]
WantedBy=default.target
Alias=dbus-org.xfce.PowerManager.service
