[user]
  name = Markus Reichl
  email = markus@re1.at
[diff]
  algorithm = histogram
  colorMobed = plain
  renames = true
[github]
  user = re1
[init]
  defaultBranch = main
[pull]
  rebase = true
[push]
  autoSetupRemote = true
[rebase]
  autoStash = true
  updateRefs = true
[tag]
  sort = version:refname

[credential "https://github.com"]
  helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
  helper = !/usr/bin/gh auth git-credential

[include]
  path = ~/.config/delta/.gitconfig
