! Copyright (c) 2016-present Arctic Ice Studio <development@arcticicestudio.com>
! Copyright (c) 2016-present Sven Greb <code@svengreb.de>

! Project:    Nord XResources
! Version:    0.1.0
! Repository: https://github.com/arcticicestudio/nord-xresources
! License:    MIT

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
! black / gray
*.color0: nord1
*.color8: nord3
! red
*.color1: nord11
*.color9: nord11
! green
*.color2: nord14
*.color10: nord14
! yellow
*.color3: nord13
*.color11: nord13
! blue
*.color4: nord9
*.color12: nord9
! purple
*.color5: nord15
*.color13: nord15
! teal
*.color6: nord8
*.color14: nord7
! silver / white
*.color7: nord5
*.color15: nord6

! URxvt
URxvt*internalBorder: 12
! font configuration
URxvt*font: xft:monospace:pixelsize=13,xft:patched:pixelsize=13
URxvt*skipBuiltinGlyphs: true
URxvt*letterSpace: -1
URxvt*linespace: 0
! disable scrollbar
URxvt*scrollBar: false
! disable printing the terminal contents when pressing PrintScreen.
URxvt*print-pipe: "cat > /dev/null"
! disable perl extension to improve security and speed
URxvt*perl-ext:
URxvt*perl-ext-common: default,matcher,selection-to-clipboard
! fixed number of saved lines improves performance
URxvt*saveLines: 2000
! clipboard configuration
URxvt*copyCommand:  xclip -i -selection clipboard
URxvt*pasteCommand: xclip -o -selection clipboard
! highlight and open URLs
URxvt*url-launcher:     /usr/bin/xdg-open
URxvt*matcher.button:   1
! set icon theme name
URxvt*iconName: "utilities-terminal"

! adjust some keys to match xterm for better integration
! shift
URxvt*keysym.S-Up:            \033[1;2A
URxvt*keysym.S-Down:          \033[1;2B
URxvt*keysym.S-Right:         \033[1;2C
URxvt*keysym.S-Left:          \033[1;2D
URxvt*keysym.S-M-Page_Up:     \033[5;4~
URxvt*keysym.S-M-Page_Down:   \033[6;4~
! control
URxvt*keysym.C-Up:            \033[1;5A
URxvt*keysym.C-Down:          \033[1;5B
URxvt*keysym.C-Right:         \033[1;5C
URxvt*keysym.C-Left:          \033[1;5D
URxvt*keysym.C-Page_Up:       \033[5;5~
URxvt*keysym.C-Page_Down:     \033[6;5~
! shift + control
URxvt*keysym.S-C-Up:          \033[1;6A
URxvt*keysym.S-C-Down:        \033[1;6B
URxvt*keysym.S-C-Right:       \033[1;6C
URxvt*keysym.S-C-Left:        \033[1;6D
URxvt*keysym.S-C-Page_Up:     \033[5;6~
URxvt*keysym.S-C-Page_Down:   \033[6;6~
