[Desktop Entry]
Type=Application
Name=ProtonMail Bridge
Exec="\"/usr/lib/protonmail/bridge/protonmail-bridge\"" "\"--no-window\""
X-GNOME-Autostart-enabled=true
