[Unit]
Description=Timer for updating hosts file at night

[Timer]
OnCalendar=*-*-* 20:00:00
Persistent=true
Unit=hosts-night.service

[Install]
WantedBy=timers.target
